<div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href="/" class="logo d-flex align-items-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="/static/img/logo.png" alt=""> -->
       
    </a>

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="/" class="">Home</a></li>
        <li><a href="/login" class="">Login</a></li>
        <li><a href="/register" class="">Register</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/file/upload">Upload</a></li>
        <li><a href="/file/list">View</a></li>
        <li><a href="/test">Test</a></li>  
      </ul>
    </nav><!-- .navbar -->

  </div>